
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: #ddd;
  padding: 1rem .5rem;
  column-gap: 20px;
}

header a{
  text-decoration: none;
}

header a.logo{
  font-size: 30px;
}


header ul a, header ul button{
  color: #000;
  transition: all .4s ease-in-out;
  font-size: 14px;
}

header ul a:hover, header ul button:hover{
   color: orange;
}

header ul {
  list-style: none; 

}

header ul.menus {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  position: relative;
  padding: 10px;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 30%; 
  width: 100%;
  opacity: 0;
  visibility: hidden;
  z-index: 999;
  background-color: #ddd;
  padding: 10px;

}

.dropdown.show {
  opacity: 1;
  visibility: visible;
}

header ul button {
   background: none;
   outline: none;
   border: none;
   font-size: 14px;
   cursor: pointer;
}
